div{
    color: rgb(244, 247, 241);
     border:3px solid black;
    background:red;
    width: 130px;
    height: 50px;
    display: inline-block;
    }


#one{
    background: blue;
    width: 300px;
}   
#first{
background:blue;
width: 335px;px 

}

#Second{
width: 330px;px
 







}